body {
	font-family: "Courier New", Courier, monospace;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
	background-attachment: scroll;
	background-image: url(../images/constructive-backdrop.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

h1, h3, p {
    float: left;
    clear: left;
    width: 320px;
    background-color: #fff;
    color: #5a514c;
    text-align: center;}


h1 {
    margin: 50px 0 0 50px;
    height: 175px;
    background-image: url("../images/constructive-logo.jpg");
    background-repeat: no-repeat;
    text-indent: -9999px;
    border-top: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;}

h3 {
    margin: 0 0 0 50px;
    padding: 25px 0 0 0;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 800;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;}

p {
    margin: 0 0 0 50px;
    padding: 30px 0 25px 0;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #bcbdc0;
    border-bottom: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;}

p + script + h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbdc0;}

html{
    height:100%;
    min-height:100%;}
